<template>
    <v-layout row wrap>
        <p>Icon</p>
        <v-btn-toggle
                v-model="model.icon"
                mandatory
        >
            <v-flex pa-4>
                <v-btn flat v-for="icon in icons" color="green lighten-1" :key="icon.id" :value="icon.ligature">
                    <v-icon large>{{icon.ligature}}</v-icon>
                </v-btn>
            </v-flex>
        </v-btn-toggle>
    </v-layout>
</template>

<script>
	export default {
		name: "IconSelector",
		props: ['icons', 'model'],
		data() {
			return {
				icon: this.model
			}
		}
	}
</script>

<style scoped>

</style>