<template>
    <v-content>
        <v-btn
                color="teal darken-1"
                dark
                medium
                absolute
                bottom
                right
                fab
                raised
                @click="showDialog = !showDialog"
        >
            <v-icon>add</v-icon>
        </v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Person / Company Information</span>
                </v-card-title>
                <v-card-text>
                    <reference-form-view :reference="reference" ref="createReferenceForm"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-content>
</template>

<script>
	import ReferenceFormView from './ReferenceFormView';
	import {Reference} from '../../models/reference';
	import $ from 'jquery';

	export default {
		name: 'CreateReference',
		components: {ReferenceFormView: ReferenceFormView},
		props: {
			reference: {
				default: () => {
					return {
						name: '',
						description: ''
					}
				}
			}
		},
		data() {
			return {
				showDialog: false,
				loading: false
			}
		},
		methods: {
			onSave() {
				this.loading = true;
				let reference = new Reference(this.reference);
				$.when(reference.save())
					.then((response) => {
						window.app.findCollection('references').add(response.data);
						this.loading = false;
						this.showDialog = false;
						this.$router.push({
							name: 'References'
						})
					})
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					})
			},

			onSubmit(evt) {
				this.$refs.createReferenceForm.isValid().then(() => {
					evt.preventDefault();
					this.onSave(evt);
				});
			}
		},
	}
</script>
