<template>
    <v-flex>
        <v-btn flat color="orange darken-2" @click.stop="showDialog = !showDialog">Edit</v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Person / Company Information</span>
                </v-card-title>
                <v-card-text>
                    <reference-form-view :reference="referenceClone" ref="editReferenceForm"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </v-flex>
</template>

<script>
	import ReferenceFormView from './ReferenceFormView';
	import $ from 'jquery';
	import {Reference} from "../../models/reference";

	export default {
		name: 'EditReference',
		components: {ReferenceFormView},
		props: {
			reference: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				showDialog: false,
				loading: false,
				referenceClone: new Reference(this.reference.getAttributes())
			}
		},
		methods: {
			onSave() {
				this.loading = true;
				$.when(this.referenceClone.update())
					.then((response) => {
						window.app.findCollection('references').add(response.data);
						this.showDialog = false;
						this.loading = false;
						this.$router.push({
							name: 'References'
						})
					}, this)
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					}, this);
			},

			onSubmit(evt) {
				this.$refs.editReferenceForm.isValid().then(() => {
					evt.preventDefault();
					this.onSave(evt);
				});
			},
		},
	}
</script>
