<template>
    <el-form :model="reference" :rules="rules" ref="referenceForm" label-width="120px">
        <el-form-item label-width="0" prop="name">
            <el-input v-model="reference.name" placeholder="Name"></el-input>
        </el-form-item>
        <el-form-item label-width="0" prop="description">
            <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="Description"
                    v-model="reference.description">
            </el-input>
        </el-form-item>
    </el-form>
</template>

<script>
	export default {
		name: "ReferenceForm",
		props: {
			reference: {
				default: () => {
					return {
						name: '',
					}
				}
			},
		},

		data() {
			return {
				rules: {
					name: [
						{required: true, message: 'Enter person/company name', trigger: 'blur'}
					]
				}
			}
		},

		methods: {
			isValid() {
				return this.$refs.referenceForm.validate();
			}
		}
	}
</script>

<style scoped>

</style>
