<template>
    <v-container fluid grid-list-lg>
        <v-flex xs10 offset-xs1>
            <v-toolbar color="grey lighten-4" light tabs>
                <v-icon>people</v-icon>
                <v-toolbar-title>Person / Company</v-toolbar-title>
                <create-reference-view/>
            </v-toolbar>
        </v-flex>
        <v-layout row wrap class="mt-4">
            <v-flex xs10 offset-xs1>
                <v-list subheader>
                    <template v-for="(item, index) in references.models" v-if="!item.isDeleted()">
                        <v-list-tile href="javascript:;" :key="item._id">
                            <v-list-tile-content>
                                <v-list-tile-title>{{item.name}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{item.description}}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-action d-inline-flex class="action-buttons">
                                <edit-reference-view :reference="item" class="text-sm-center"/>
                                <delete-reference-view :reference="item" class="text-sm-center"/>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-divider v-if="index + 1 < references.models.length" :key="index"/>
                    </template>
                </v-list>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
	import CreateReferenceView from './CreateReferenceView';
	import EditReferenceView from './EditReferenceView';
	import DeleteReferenceView from './DeleteReferenceView';

	export default {
		name: "References",
		components: {CreateReferenceView, EditReferenceView, DeleteReferenceView},
		props: {
			references: {
				default: () => {
					return window.app.findCollection('references');
				}
			},
		}
	}
</script>

<style scoped>
    .action-buttons {
        flex-direction: unset;
        align-items: center;
    }
</style>