<template>
    <v-layout row wrap>
        <v-flex d-flex xs12 sm6 md6 lg4 xl4 v-for="account in accounts.models" :key="account._id">
            <v-card raised tile>
                <v-card-title primary-title class="pt-3 pb-3">
                    <div class="headline">{{account.name}}</div>
                </v-card-title>
                <v-card-text class="pt-0">
                    {{account.balance}}
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
	export default {
		name: "AccountsSummary",

		data() {
			return {
				accounts: window.app.findCollection('accounts')
			}
		}
	}
</script>

<style scoped>

</style>
