<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex d-flex xs12 sm6 md6 lg4 xl3>
                <today-summary></today-summary>
            </v-flex>
        </v-layout>

        <accounts-summary></accounts-summary>

        <v-layout row wrap>
            <v-flex d-flex xs12 sm6 md6 lg6 xl4>
                <v-card raised tile>
                    <v-card-title primary-title class="pt-3 pb-3">
                        <div class="headline">Income v/s Expense (This week)</div>
                    </v-card-title>
                    <v-card-text class="pt-0">
                        <g-chart
                                type="LineChart"
                                :data="chartData1"
                        />
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex d-flex xs12 sm6 md6 lg6 xl4>
                <v-card raised tile>
                    <v-card-title primary-title class="pt-3 pb-3">
                        <div class="headline">Expense by category (This week)</div>
                    </v-card-title>
                    <v-card-text class="pt-0">
                        <g-chart
                                type="PieChart"
                                :data="chartData2"
                        />
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
	import {GChart} from 'vue-google-charts'
	import AccountsSummary from './AccountsSummary'
	import TodaySummary from './components/TodaySummary'

	export default {
		name: "Dashboard",
		components: {
			GChart, AccountsSummary, TodaySummary
		},
		data() {
			return {
				// Array will be automatically processed with visualization.arrayToDataTable function
				chartData1: [
					['Year', 'Income', 'Expenses'],
					['2014', 1000, 400],
					['2015', 1170, 460],
					['2016', 660, 1120],
					['2017', 1030, 540]
				],
				chartData2: [
					['Task', 'Hours per Day'],
					['Work', 11],
					['Eat', 2],
					['Commute', 2],
					['Watch TV', 2],
					['Sleep', 7]
				]
			}
		}
	}
</script>

<style scoped>

</style>
