<template>
    <v-content>
        <v-btn
                color="teal darken-1"
                dark
                medium
                absolute
                bottom
                right
                fab
                raised
                @click="showDialog = true"
        >
            <v-icon>add</v-icon>
        </v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Transaction Information</span>
                </v-card-title>
                <v-card-text>
                    <transaction-form-view :transaction="transaction" ref="transactionForm" :onSave="onSave"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-content>
</template>

<script>
	import TransactionFormView from './TransactionFormView';
	import {Transaction} from '../../models/transaction';
	import $ from 'jquery';

	export default {
		name: 'CreateTransaction',
		components: {TransactionFormView},
		props: {
			transaction: {
				default: () => {
					return {
						description: ''
					}
				}
			}
		},
		data() {
			return {
				showDialog: false,
				loading: false
			}
		},
		methods: {
			onSave() {
				this.loading = true;
				let transaction = new Transaction(this.transaction);
				$.when(transaction.save())
					.then((response) => {
						window.app.findCollection('transactions').add(response.data);
						this.loading = false;
						this.showDialog = false;
						this.$router.push({
							name: 'Transactions'
						})
					})
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					})
			},

			onSubmit(evt) {
				let isValid = this.$refs.transactionForm.isValid();
				if (!isValid) {
					return;
				}
				evt.preventDefault();
				this.onSave();
			},

			handleClose(done) {
				this.$confirm('Are you sure to close this dialog?')
					.then(() => {
						done();
					})
					.catch(() => {
					});
			}
		},
	}
</script>
