<template>
    <tr>
        <td>
            <v-icon v-if="transaction.type === 'expense'" color="deep-orange darken-1">trending_down</v-icon>
            <v-icon v-if="transaction.type === 'income'" color="teal darken-1">trending_up</v-icon>
        </td>
        <td>{{ transaction.amount }}</td>
        <td>{{ account.name }}</td>
        <td>{{ category.name }}</td>
        <td>{{ reference.name }}</td>
        <td>{{ transactionDate.format('L') }}</td>
        <td class="justify-center px-0" style="display: flex">
            <v-btn flat color="orange darken-2">
                Edit
            </v-btn>
            <v-btn flat color="deep-orange darken-1">
                Delete
            </v-btn>
        </td>
    </tr>
</template>

<script>
	import moment from 'moment';

	export default {
		name: "TransactionView",
		props: {
			transaction: {
				type: Object,
				required: true
			}
		},

		data() {
			const account = window.app.findModel(this.transaction.account, 'accounts');
			const reference = window.app.findModel(this.transaction.reference, 'references');
			const category = window.app.findModel(this.transaction.category[0], 'categories');
			return {
				account: account,
				reference: reference,
				category: category,
				transactionDate: moment(this.transaction.transactionDate)
			};
		},
	}
</script>

<style scoped>

</style>
