<template>
    <el-form :model="transaction" :rules="rules" ref="ruleForm" label-width="120px">
        <el-form-item label-width="0" prop="type">
            <el-radio-group v-model="transaction.type" @change="onChangingType">
                <el-radio label="expense" border>
                    Expense
                </el-radio>
                <el-radio label="income" border>
                    Income
                </el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label-width="0" prop="amount">
            <el-input v-model="transaction.amount" placeholder="Amount"></el-input>
        </el-form-item>

        <el-form-item label-width="0">
            <el-col :span="11">
                <el-form-item label-width="0" prop="transactionDate">
                    <el-date-picker
                            v-model="transaction.transactionDate"
                            type="date"
                            placeholder="Pick a day">
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="11" :offset="2">
                <el-form-item label-width="0" prop="category">
                    <el-cascader
                            expand-trigger="hover"
                            :options="categories"
                            :props="categoryProps"
                            :show-all-levels="false"
                            filterable
                            v-model="transaction.category"
                            placeholder="Category">
                    </el-cascader>
                </el-form-item>
            </el-col>
        </el-form-item>

        <el-form-item label-width="0">
            <el-col :span="11">
                <el-form-item label-width="0" prop="account">
                    <el-select v-model="transaction.account" placeholder="Account">
                        <el-option
                                v-for="account in accounts"
                                :key="account._id"
                                :label="account.name"
                                :value="account._id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="11" :offset="2">
                <el-form-item label-width="0" prop="reference">
                    <el-select v-model="transaction.reference" placeholder="Reference">
                        <el-option
                                v-for="reference in references"
                                :key="reference._id"
                                :label="reference.name"
                                :value="reference._id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-form-item>

        <el-form-item label-width="0" prop="description">
            <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="Notes"
                    v-model="transaction.description">
            </el-input>
        </el-form-item>
    </el-form>
</template>

<script>

	export default {
		name: "TransactionForm",
		props: {
			transaction: {
				default: () => {
					return {
						description: '',
						type: '',
						transactionDate: ''
					}
				}
			}
		},
		data() {
			return {
				errors: [],
				stepper: 1,
				accounts: window.app.findCollection('accounts').models,
				references: window.app.findCollection('references').models,
				categories: [],
				categoryProps: {label: 'name', value: '_id', children: 'subCategories'},
				rules: {
					type: [
						{required: true, message: 'Select transaction type', trigger: 'blur'}
					],
					amount: [
						{required: true, message: 'Enter transaction amount', trigger: 'blur'},
						{min: 1, message: 'Enter an amount greater than zero', trigger: 'change'}
					],
					transactionDate: [
						{required: true, message: 'Select a transaction date', trigger: 'blur'}
					],
					category: [
						{required: true, message: 'Choose category', trigger: 'blur'}
					],
					account: [
						{required: true, message: 'Select an account', trigger: 'blur'}
					],
					reference: [
						{required: true, message: 'Select a reference', trigger: 'blur'}
					]
				}
			}
		},
		methods: {
			async isValid() {
				return await this.$refs.ruleForm.validate((valid) => {
					return !!valid;
				});
			},

			onChangingType: function (transactionType) {
				this.categories = window.app.findCollection('categories').getCategoriesTree(transactionType);
			}
		}
	}
</script>

<style scoped>
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner,
    .el-select,
    .el-cascader {
        width: -webkit-fill-available;
        width: 100%
    }
</style>
