<template>
    <v-container fluid grid-list-lg>
        <div>
            <v-toolbar color="grey lighten-4" light tabs>
                <v-icon>fa-exchange</v-icon>
                <v-toolbar-title>Transactions</v-toolbar-title>
                <create-transaction-view/>
            </v-toolbar>
            <v-data-table
                    :headers="headers"
                    :items="transactions.models"
                    hide-actions
                    item-key="name"
            >
                <template slot="items" slot-scope="props">
                    <transaction-view :transaction="props.item"/>
                </template>
            </v-data-table>
        </div>
    </v-container>
</template>

<script>
	import TransactionView from './TransactionView';
	import CreateTransactionView from './CreateTransactionView';

	export default {
		name: "TransactionsView",
		components: {TransactionView, CreateTransactionView},
		props: {
			headers: {
				default: () => {
					return [
						{
							text: 'Type',
							value: 'type',
						},
						{
							text: 'Amount',
							value: 'amount'
						},
						{
							text: 'Account',
							value: 'account'
						},
						{
							text: 'Category',
							value: 'category'
						},
						{
							text: 'Reference',
							value: 'reference'
						},
						{
							text: 'Transaction Date',
							value: 'transactionDate'
						},
						{
							text: 'Actions',
							sortable: false,
							align: 'center'
						}
					]
				}
			}
		},
		data() {
			return {
				transactions: window.app.findCollection('transactions')
			};
		},
		methods: {}
	}
</script>

<style scoped>

</style>
