<template>
    <v-app id="login">
        <v-container grid-list-xl text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm8 md6 lg4 offset-xs0 offset-sm2 offset-md3 offset-lg4 id="wrapper"
                        class="grey lighten-4">
                    <img src="../../assets/logo.png">
                    <el-form ref="loginForm" :model="user" :rules="rules">
                        <el-form-item prop="email">
                            <el-input v-model="user.email" placeholder="Email"></el-input>
                        </el-form-item>
                        <el-form-item prop="password">
                            <el-input type="password" v-model="user.password" placeholder="Password"
                                      auto-complete="off"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <v-btn
                                    flat
                                    class="left"
                                    @click="goToRegister"
                            >
                                Don't have an account?
                            </v-btn>
                            <v-btn
                                    @click="onSubmit"
                                    :disabled="loading"
                                    class="right"
                                    color="primary"
                                    :loading="loading"
                            >
                                Login
                            </v-btn>
                        </el-form-item>
                    </el-form>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
	import axios from 'axios'
	import Auth from '../../services/auth';
	import qs from 'qs' ;

	export default {
		name: 'Login',
		data() {
			return {
				user: {
					email: '',
					password: ''
				},
				rules: {
					email: [
						{required: true, message: 'Enter email address', trigger: 'blur'},
						{type: 'email', message: 'Enter valid email address', trigger: ['blur', 'change']}
					],
					password: [
						{required: true, message: 'Enter password', trigger: 'blur'}
					]
				},
				error: undefined,
				loading: false
			}
		},
		methods: {
			onSubmit(evt) {
				return this.$refs.loginForm.validate((valid) => {
					if (valid) {
						evt.preventDefault();
						this.loading = true;
						const headers = {
							'Content-Type': 'application/x-www-form-urlencoded'
						};
						const data = qs.stringify(this.user);
						axios.post(__CONFIG.baseUrl + `/api/login`, data, headers)
							.then((response) => {
								Auth.onLoginSuccess(response);
								this.$router.push({
									name: 'Dashboard'
								})
							})
							.catch((e) => {
								this.loading = false;
								if (e.response) {
									this.error = e.response.data.error;
								} else {
									this.error = 'Something went wrong!';
								}
							})
					}
				});
			},
			goToRegister(evt) {
				evt.preventDefault();
				this.$router.push({
					name: 'Register'
				})
			}
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #login {
        background: url('../../assets/background.jpg') fixed !important;
        background-size: cover !important;
    }

    #wrapper {
        border-radius: 5px;
        opacity: 0.95;
    }

    img {
        display: block;
        margin: auto auto 1rem;
    }

</style>
