<template>
    <v-app id="register">
        <v-container grid-list-xl text-xs-center>
            <v-layout row wrap>
                <v-flex xs12 sm8 md6 lg4 offset-xs0 offset-sm2 offset-md3 offset-lg4 id="wrapper"
                        class="grey lighten-4">
                    <img src="../../assets/logo.png">
                    <el-form ref="registerForm" :model="user" :rules="rules">
                        <el-form-item prop="name">
                            <el-input v-model="user.name" placeholder="Name"></el-input>
                        </el-form-item>
                        <el-form-item prop="email">
                            <el-input v-model="user.email" placeholder="Email"></el-input>
                        </el-form-item>
                        <el-form-item prop="password">
                            <el-input type="password" v-model="user.password" placeholder="Password"
                                      auto-complete="off"></el-input>
                        </el-form-item>

                        <v-alert outline color="error" type="error" icon="warning" v-for="(item, index) in errors"
                                 :key="index" :value="item">
                            {{item}}
                        </v-alert>

                        <el-form-item>
                            <v-btn
                                    flat
                                    class="left"
                                    @click="goToLogin"
                            >
                                Already have an account?
                            </v-btn>
                            <v-btn
                                    @click="onSubmit"
                                    :disabled="loading"
                                    class="right"
                                    color="primary"
                                    :loading="loading"
                            >
                                Register
                            </v-btn>
                        </el-form-item>
                    </el-form>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
	import axios from 'axios';
	import qs from 'qs';

	export default {
		name: 'Register',
		data: () => ({
			loading: false,
			errors: [],
			user: {
				name: '',
				email: '',
				password: '',
			},
			rules: {
				name: [
					{required: true, message: 'Enter your name', trigger: 'blur'}
				],
				email: [
					{required: true, message: 'Enter email address', trigger: 'blur'},
					{type: 'email', message: 'Enter valid email address', trigger: ['blur', 'change']}
				],
				password: [
					{required: true, message: 'Enter password', trigger: 'blur'}
				]
			}
		}),
		methods: {
			onSubmit(evt) {
				return this.$refs.registerForm.validate((valid) => {
					if (valid) {
						this.loading = true;
						evt.preventDefault();
						const data = qs.stringify(this.user);
						const headers = {
							'Content-Type': 'application/x-www-form-urlencoded'
						};
						axios.post(__CONFIG.baseUrl + `/api/register`, data, headers)
							.then(() => {
								this.$router.push({
									name: 'Dashboard'
								})
							})
							.catch(e => {
								this.loading = false;
								this.errors.push(e.response.data.error)
							});
					}
				});

			},
			goToLogin(evt) {
				evt.preventDefault();
				this.$router.push({
					name: 'Login'
				})
			}
		}
	}
</script>

<style scoped>
    #register {
        background: url('../../assets/background.jpg') fixed !important;
        background-size: cover !important;
    }

    #wrapper {
        border-radius: 5px;
        opacity: 0.95;
    }

    img {
        display: block;
        margin: auto auto 1rem;
    }

</style>
