<template>
    <v-app>
        <v-navigation-drawer
                persistent
                :mini-variant.sync="miniVariant"
                :clipped="clipped"
                permanent.sync="!miniVariant"
                temporary.sync="miniVariant"
                v-model="drawer"
                absolute
                enable-resize-watcher
                dark class="teal darken-1"
                app>
            <v-list class="pa-1 teal darken-1">
                <v-list-tile v-if="miniVariant" @click.stop="miniVariant = !miniVariant">
                    <v-list-tile-action>
                        <v-icon>chevron_right</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <img src="https://randomuser.me/api/portraits/men/85.jpg"/>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>John Leider</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon @click.stop="miniVariant = !miniVariant">
                            <v-icon>chevron_left</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
            <v-list class="pt-0" dense>
                <v-divider light></v-divider>
                <v-list-tile
                        v-for="(item, i) in items"
                        :key="i" :href="item.path">
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="item.title"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar flat app color="teal darken-1">
            <v-toolbar-side-icon dark @click.stop="drawer = !drawer" class="hidden-lg-and-up"></v-toolbar-side-icon>
            <v-toolbar-title v-text="title" class="white--text"/>
        </v-toolbar>
        <v-content>
            <router-view/>
        </v-content>
        <v-footer app>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>
</template>

<script>
	export default {
		data() {
			return {
				clipped: false,
				drawer: true,
				fixed: false,
				items: [{
					icon: 'mdi-view-dashboard',
					title: 'Dashboard',
					path: '/#/dashboard'
				}, {
					icon: 'mdi-account-card-details',
					path: '/#/accounts',
					title: 'Accounts'
				}, {
					icon: 'fa-exchange',
					path: '/#/transactions',
					title: 'Transactions'
				}, {
					icon: 'mdi-file-tree',
					path: '/#/categories',
					title: 'Categories'
				}, {
					icon: 'people',
					path: '/#/references',
					title: 'Person / Company'
				}],
				miniVariant: false,
				right: true,
				rightDrawer: false,
				title: 'Moneyfied'
			}
		},
		name: 'App',
	}
</script>
