<template>
    <v-container fluid grid-list-lg>
        <div>
            <v-toolbar color="grey lighten-4" light tabs>
                <v-icon>mdi icon mdi-file-tree</v-icon>
                <v-toolbar-title>Categories</v-toolbar-title>
                <create-category-view/>
                <v-tabs
                        centered
                        color="grey lighten-4"
                        slot="extension"
                        slider-color="teal darken-1"
                        v-model="section"
                >
                    <v-tab :href="`#income`">
                        Income
                    </v-tab>
                    <v-tab :href="`#expense`">
                        Expense
                    </v-tab>
                </v-tabs>
            </v-toolbar>
            <v-tabs-items v-model="section">
                <v-tab-item :id="`income`">
                    <v-expansion-panel inset>
                        <category-view v-for="item in categories.models"
                                       :key="item.name"
                                       v-if="!item.isDeleted() && item.isIncomeCategory() && item.isRootCategory()"
                                       :category="item"/>
                    </v-expansion-panel>
                </v-tab-item>
                <v-tab-item :id="`expense`">
                    <v-expansion-panel inset>
                        <category-view v-for="item in categories.models"
                                       :key="item.name"
                                       v-if="!item.isDeleted() && item.isExpenseCategory() && item.isRootCategory()"
                                       :category="item"/>
                    </v-expansion-panel>
                </v-tab-item>
            </v-tabs-items>
        </div>
    </v-container>
</template>

<script>
	import CategoryView from './CategoryView'
	import CreateCategoryView from './CreateCategoryView'

	export default {
		name: "CategoriesView",
		components: {CategoryView, CreateCategoryView},
		props: {
			categories: {
				default: () => {
					return window.app.findCollection('categories');
				}
			},
			section: {
				default: () => {
					return 'income';
				}
			}
		}
	}
</script>

<style scoped>

</style>