<template>
    <v-expansion-panel-content>
        <div slot="header">{{category.name}}</div>
        <v-expansion-panel inset v-if="subCategories && subCategories.length > 0">
            <category-view v-for="subCategory in subCategories"
                           :key="subCategory.name"
                           v-if="!subCategory.isDeleted()"
                           :category="subCategory"/>
        </v-expansion-panel>
        <v-layout row wrap align="center">
            <delete-category-view :category="category" class="text-sm-center"/>
            <edit-category-view :category="categoryClone" class="text-sm-center"/>
            <create-category-view :parent="category" class="text-sm-center"/>

        </v-layout>
    </v-expansion-panel-content>
</template>

<script>
	import CategoryView from './CategoryView'
	import CreateCategoryView from './CreateCategoryView'
	import EditCategoryView from './EditCategoryView'
	import DeleteCategoryView from './DeleteCategoryView'
	import {Category} from "../../models/category";

	export default {
		name: "CategoryView",
		components: {CategoryView, CreateCategoryView, EditCategoryView, DeleteCategoryView},
		props: {
			category: {
				type: Object,
				required: true
			}
		},
		data() {
			let subCategories = window.app.findCollection('categories').where({parent: this.category._id});
			return {
				subCategories: subCategories,
				categoryClone: new Category(this.category.getAttributes())
			}
		}
	}
</script>

<style scoped>

</style>