<template>
    <el-form :model="category" :rules="rules" ref="categoryForm" label-width="120px">
        <el-form-item label-width="0" prop="type">
            <el-radio-group v-model="category.type" :disabled="!!parent || !!category._id">
                <el-radio label="expense" border>
                    Expense
                </el-radio>
                <el-radio label="income" border>
                    Income
                </el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item v-if="!!parent" prop="parent" label-width="0">
            <el-input v-model="parent.name" placeholder="Parent" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label-width="0" prop="name">
            <el-input v-model="category.name" placeholder="Name"></el-input>
        </el-form-item>
    </el-form>
</template>

<script>
	import icons from '../../assets/icons';
	import IconSelector from '../common/IconSelector'
	import Constants from '../../models/constants'

	export default {
		name: "CategoryForm",
		components: {IconSelector},
		props: {
			category: {
				default: () => {
					return {
						name: '',
						type: Constants.CATEGORY.TYPE_INCOME,
						icon: ''
					}
				}
			},
			parent: {
				default: () => {
					return null;
				}
			}
		},
		data() {
			return {
				typeIncome: Constants.CATEGORY.TYPE_INCOME,
				typeExpense: Constants.CATEGORY.TYPE_EXPENSE,
				icons: icons.accountIcons,
				errors: [],
				rules: {
					type: [
						{required: true, message: 'Select category type', trigger: 'blur'}
					],
					name: [
						{required: true, message: 'Enter category amount', trigger: 'blur'}
					]
				}
			}
		},

		methods: {
			isValid() {
				return this.$refs.categoryForm.validate();
			}
		}
	}
</script>

<style scoped>

</style>
