<template>
    <v-flex>
        <v-btn flat color="teal darken-1" @click.stop="showDialog = !showDialog">Add</v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Category Information</span>
                </v-card-title>
                <v-card-text>
                    <category-form-view :category="category" :parent="parent" :onSave="onSave" ref="createCategoryForm"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </v-flex>
</template>

<script>
	import {validationMixin} from 'vuelidate'
	import CategoryFormView from './CategoryFormView'
	import {Category} from '../../models/category'
	import $ from 'jquery'

	export default {
		name: 'CreateCategory',
		mixins: [validationMixin],
		components: {CategoryFormView},
		props: {
			parent: {
				default: () => {
					return null;
				}
			},
			category: {
				default: () => {
					return {
						name: '',
						type: '',
						parent: null,
						icon: ''
					}
				}
			}
		},
		data() {
			this.category.type = this.parent ? this.parent.type : '';
			this.category.parent = this.parent ? this.parent._id : null;

			return {
				showDialog: false,
				loading: false
			}
		},
		methods: {
			onSave() {
				this.loading = true;
				let category = new Category(this.category);
				$.when(category.save())
					.then((response) => {
						window.app.findCollection('categories').add(response.data);
						this.loading = false;
						this.showDialog = false;
						this.$router.push({
							name: 'Categories'
						})
					})
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					});
			},

			onSubmit(evt) {
				this.$refs.createCategoryForm.isValid().then(() => {
					evt.preventDefault();
					this.onSave(evt);
				});
			},
		},
	}
</script>
