<template>
    <v-flex>
        <v-btn flat color="deep-orange darken-1" @click.stop="deleteConfirmationDialog = !deleteConfirmationDialog">
            Delete
        </v-btn>
        <v-dialog v-model="deleteConfirmationDialog" persistent max-width="500px">
            <v-card>
                <v-card-title class="headline">Confirmation</v-card-title>
                <v-card-text>
                    Deleting this category will not let you add anymore transactions for it.
                    However, you can see the old transactions associated with it and generate reports.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat="flat" @click.native="deleteConfirmationDialog = false">Cancel</v-btn>
                    <v-btn color="deep-orange darken-1" flat="flat" @click="onDelete">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
	import $ from 'jquery'

	export default {
		name: "DeleteCategoryView",
		props: {
			category: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				deleteConfirmationDialog: false
			}
		},
		methods: {
			onDelete() {
				$.when(this.category.destroy())
					.then((response) => {
						window.app.findCollection('categories').remove(response.data);
						window.app.findCollection('categories').add(response.data);
						this.deleteConfirmationDialog = false;
						this.$router.push({
							name: 'Categories'
						})
					}, this)
					.fail(e => {
						this.errors.push(e)
					}, this)
			}
		}
	}
</script>

<style scoped>
    .delete-button {
        top: 15px;
    }
</style>