<template>
    <v-flex>
        <v-btn flat color="orange darken-2" @click.stop="showDialog = !showDialog">Edit</v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Category Information</span>
                </v-card-title>
                <v-card-text>
                    <category-form-view :category="category" :parent="category.parent"
                                        ref="editCategoryForm"></category-form-view>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </v-flex>
</template>

<script>
	import CategoryFormView from './CategoryFormView';
	import $ from 'jquery';

	export default {
		name: 'EditCategory',
		components: {CategoryFormView},
		props: {
			category: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				showDialog: false,
				loading: false
			}
		},
		methods: {
			onSave() {
				this.loading = true;
				$.when(this.category.update())
					.then((response) => {
						window.app.findCollection('categories').add(response.data);
						this.showDialog = false;
						this.loading = false;
						this.$router.push({
							name: 'Categories'
						})
					}, this)
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					}, this);
			},

			onSubmit(evt) {
				this.$refs.editCategoryForm.isValid().then(() => {
					evt.preventDefault();
					this.onSave(evt);
				});
			},
		},
	}
</script>
