<template>
    <v-card raised hover flat ripple>
        <v-card-title primary-title class="pt-3 pb-3">
            <div class="headline">Today</div>
            <v-spacer></v-spacer>
            <div class="grey--text">{{date}}</div>
        </v-card-title>
        <v-card-text class="pt-0">
            <div class="income grey--text">
                <span>Income</span>
                <span class="right">{{income}}</span>
            </div>
            <div class="expense grey--text">
                <span>Expense</span>
                <span class="right">{{expense}}</span>
            </div>
            <div class="balance title font-weight-thin"
                 v-bind:class="{ 'balance-negative': balance < 0, 'balance-positive': balance >= 0 }">
                <span>Balance</span>
                <span class="right">{{balance}}</span>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
	import _ from 'underscore';
	import moment from 'moment';
	import transactionService from '../../../services/transactionService'

	export default {
		name: "TodaySummary",
		data() {
			return {
				balance: 0,
				income: 0,
				expense: 0,
				date: moment().format('L')
			};
		},

		created() {
			this.updateBalance();
		},

		methods: {
			updateBalance() {
				let start = moment().startOf('day').unix();
				let end = moment().endOf('day').unix();
				transactionService.fetchAll({transactionDate: [start, end].join(',')}).then((transactions) => {
					this.income = _.reduce(_.where(transactions.models, {type: 'income'}), (sum, transaction) => {
						return sum + transaction.amount;
					}, 0);
					this.expense = _.reduce(_.where(transactions.models, {type: 'expense'}), (sum, transaction) => {
						return sum + transaction.amount;
					}, 0);
					this.balance = this.income - this.expense;
				});
			}
		}
	}
</script>

<style scoped>
    .balance {
        padding-top: 20px;
    }

    .balance.balance-negative {
        color: #F4511E;
    }

    .balance.balance-positive {
        color: #00897B;
    }
</style>
