<template>
    <v-container fluid grid-list-lg>
        <v-toolbar class="mb-4">
            <v-icon>mdi icon mdi-account-card-details</v-icon>
            <v-toolbar-title>Accounts</v-toolbar-title>
            <create-account-view></create-account-view>
        </v-toolbar>
        <v-layout row wrap>
            <v-flex d-flex xs12 sm12 md6 lg4 xl3 v-for="(account, index) in accounts.models" :key="index"
                    v-if="!account.isDeleted()">
                <v-card raised hover flat ripple>
                    <v-card-title primary-title class="pt-3 pb-3">
                        <v-icon class="pr-2">{{account.icon}}</v-icon>
                        <div class="headline">{{account.name}}</div>
                        <delete-account-view :account="account"></delete-account-view>
                    </v-card-title>
                    <v-card-text class="pt-0">
                        <v-subheader>{{account.description}}</v-subheader>
                    </v-card-text>
                    <v-divider light></v-divider>
                    <v-card-actions>
                        <div class="title pl-2 teal--text">Balance: {{account.balance}}</div>
                        <edit-account-view :account="account"></edit-account-view>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>

	import CreateAccountView from './CreateAccountView'
	import EditAccountView from './EditAccountView'
	import DeleteAccountView from './DeleteAccountView'

	export default {
		name: 'ListAccounts',
		components: {CreateAccountView, EditAccountView, DeleteAccountView},
		data() {
			return {
				accounts: window.app.findCollection('accounts'),
				errors: []
			}
		}
	}
</script>
