<template>
    <el-form :model="account" :rules="rules" ref="accountForm" label-width="120px">
        <el-form-item label-width="0" prop="name">
            <el-input v-model="account.name" placeholder="Name"></el-input>
        </el-form-item>
        <el-form-item label-width="0" prop="description">
            <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="Description"
                    v-model="account.description">
            </el-input>
        </el-form-item>
        <el-form-item label-width="0" prop="currency">
            <el-select v-model="account.currency" filterable placeholder="Currency">
                <el-option
                        v-for="currency in currencies"
                        :key="currency.code"
                        :label="currency.code"
                        :value="currency.code">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label-width="0" prop="balance">
            <el-input v-model="account.balance" placeholder="Balance"></el-input>
        </el-form-item>
    </el-form>
</template>

<script>
	import currencies from 'currency-formatter/currencies.json';
	import icons from '../../assets/icons';
	import IconSelector from '../common/IconSelector'

	export default {
		name: "AccountForm",
		components: {IconSelector},
		props: {
			account: {
				default: () => {
					return {
						name: '',
						description: '',
						currency: '',
						balance: 0,
						icon: ''
					}
				}
			}
		},
		data() {
			return {
				currencies: currencies,
				icons: icons.accountIcons,
				errors: [],
				rules: {
					name: [
						{required: true, message: 'Enter account name', trigger: 'blur'}
					],
					currency: [
						{required: true, message: 'Select an account', trigger: 'blur'}
					]
				}
			}
		},
		methods: {
			isValid() {
				return this.$refs.accountForm.validate();
			}
		}
	}
</script>

<style scoped>

</style>
