<template>
    <v-content>
        <v-btn
                color="teal darken-1"
                dark
                medium
                absolute
                bottom
                right
                fab
                raised
                @click="showDialog = !showDialog"
        >
            <v-icon>add</v-icon>
        </v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Account Information</span>
                </v-card-title>
                <v-card-text>
                    <account-form-view :account="account" ref="createAccountForm"></account-form-view>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-content>
</template>

<script>
	import AccountFormView from './AccountFormView';
	import {Account} from '../../models/account';
	import $ from 'jquery';

	export default {
		name: 'CreateAccount',
		components: {AccountFormView},
		props: {
			account: {
				default: () => {
					return {
						name: '',
						description: '',
						currency: '',
						balance: '',
						icon: ''
					}
				}
			}
		},
		data() {
			return {
				showDialog: false,
				loading: false
			}
		},
		methods: {
			onSave() {
				this.loading = true;
				let account = new Account(this.account);
				$.when(account.save())
					.then((response) => {
						window.app.findCollection('accounts').add(response.data);
						this.loading = false;
						this.showDialog = false;
						this.$router.push({
							name: 'Accounts'
						})
					})
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					})
			},

			onSubmit(evt) {
				this.$refs.createAccountForm.isValid().then(() => {
					evt.preventDefault();
					this.onSave(evt);
				});
			}
		},
	}
</script>
