<template>
    <v-flex class="pa-0">
        <v-btn
                flat
                icon
                medium
                right
                absolute
                @click.stop="deleteConfirmationDialog = !deleteConfirmationDialog"
                class="delete-button"
        >
            <v-icon color="deep-orange darken-1">delete_forever</v-icon>
        </v-btn>
        <v-dialog v-model="deleteConfirmationDialog" persistent max-width="500px">
            <v-card>
                <v-card-title class="headline">Confirmation</v-card-title>
                <v-card-text>
                    Deleting this account will not let you add anymore transactions to it.
                    However, you can see the old transactions associated with it and generate reports.
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat="flat" @click.native="deleteConfirmationDialog = false">Cancel</v-btn>
                    <v-btn color="red lighten-1" flat="flat" @click="onDelete">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
	import $ from 'jquery'

	export default {
		name: "DeleteAccountView",
		props: ['account'],
		data() {
			return {
				deleteConfirmationDialog: false
			}
		},
		methods: {
			onDelete() {
				$.when(this.account.destroy())
					.then((response) => {
						window.app.findCollection('accounts').remove(response.data);
						window.app.findCollection('accounts').add(response.data);
						this.deleteConfirmationDialog = false;
						this.$router.push({
							name: 'Accounts'
						})
					})
					.fail(e => {
						this.errors.push(e)
					})
			}
		}
	}
</script>

<style scoped>
    .delete-button {
        top: 15px;
    }
</style>