<template>
    <v-flex class="pa-0">
        <v-btn color="amber darken-1 right" dark @click="showDialog = !showDialog">Edit</v-btn>
        <v-dialog v-model="showDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">Account Information</span>
                </v-card-title>
                <v-card-text>
                    <account-form-view :account="accountClone" ref="editAccountForm"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click.native="showDialog = false">Close</v-btn>
                    <v-btn color="green darken-1"
                           flat
                           @click="onSubmit"
                           :disabled="loading"
                           :loading="loading"
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
	import $ from 'jquery'
	import AccountFormView from './AccountFormView'
	import {Account} from "../../models/account";

	export default {
		name: 'EditAccount',
		components: {AccountFormView},
		props: {
			account: {
				type: Object,
				required: true
			}
		},
		data() {
			return {
				showDialog: false,
				loading: false,
				accountClone: new Account(this.account.getAttributes())
			}
		},
		methods: {
			onSave() {
				this.loading = true;

				$.when(this.accountClone.update())
					.then((response) => {
						this.showDialog = false;
						this.loading = false;
						window.app.findCollection('accounts').add(response.data);
						this.$router.push({
							name: 'Accounts'
						})
					}, this)
					.fail(e => {
						this.loading = false;
						this.errors.push(e.response.data.error)
					}, this)
			},

			onSubmit(evt) {
				this.$refs.editAccountForm.isValid().then(() => {
					evt.preventDefault();
					this.onSave(evt);
				});
			}
		},
	}
</script>

<style scoped>

</style>
